

body{
  font-family: Exo, sans-serif;
  margin: 0 auto;
  color: #808080;
}

div.container{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;
  width: calc(100% - 40px);
  min-height: 100%;
}

div.menu{
  margin-top: 30px;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #fff;
}

  div.menu img.logo{
    height: 80px;
  }

  div.menu ul{
    float: right;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;

    display: flex;
    width: auto;
    justify-content: space-between;
  }

    div.menu ul li{
      list-style: none;
      display: inline-block;
      position: relative;
      cursor: pointer;
      color: #65B8BB;
      font-size: 14pt;
    }

      div.menu ul li.current{
        font-weight: bold;
      }

      div.menu ul li:not(:last-child):after{
        content: "·";
        margin: 0px 10px;
      }

div.background{
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

  div.background.girl-headphone{
    background-image: url(../IMAGES/girl-headphone.jpg);
  }

  div.background.boy{
    background-image: url(../IMAGES/boy.jpg);
  }

div.layout{
  display: flex;
  justify-content: space-between;
}

  div.layout>div{
    width: 33%;
  }

  div.layout.two>div{
    width: calc(50% - 10px);
  }

  div.layout.two-right>div:first-child{
    width: calc(100% - 620px);
  }

  div.layout.two-right>div:last-child{
    width: 600px;
  }

  div.layout.three>div{
    width: 33%;
  }

section{
  position: relative;
}

  section.header{
    height: 600px;
    background-color: #ECECEC;
  }

    section.header .balloon-1{
      position: absolute;
      top: calc(50% + 30px);
      transform: translateY(-50%);
      height: 420px;
    }

@keyframes clouds1{
  from{
    background-position: 0% center;
  }
  to{
    background-position: 10% center;
  }
}

    section.header .clouds-1{
      background-image: url(../IMAGES/Asset%202.svg);
      background-size: contain;
/*      background-position: center;*/

      animation-name: clouds1;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-play-state: running;

    }

  section.your-son{
    padding: 100px 0px;
    background-color: #65B8BB;
    color: #fff;
  }

    section.your-son .clouds-2{
      background-image: url(../IMAGES/Asset-3.svg);
      background-size: contain;
      background-position: 0% center;
    }

    section.your-son h1{
      line-height: 35px;
      margin-bottom: 30px;
      font-size: 25pt;
      margin-top: 0px;
    }

    section.your-son p{
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      line-height: 30px;
      font-size: 18px;
    }

  section.all-spoke{
    height: 600px;
  }

    section.all-spoke div.advice{
      width: 300px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 17pt;

      position: absolute;
    }

  section.balloon{

  }

    section.balloon div.balloon{
      position: absolute;
      width: 466px;
      height: 424px;
      text-align: center;
      background-image: url(../IMAGES/balloon.svg);
      background-position: center;
      background-size: contain;
      z-index: 2;
      margin-top: -100px;
      right: 0;
      box-sizing: border-box;
      padding: 85px 102px 150px 112px;
      color: #CD230D;
      line-height: 25px;
      font-size: 13pt;
    }

      section.balloon img.flyier{
        width: 500px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateY(-50%);
      }

      section.balloon div.balloon img{
        width: 20px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      section.balloon div.balloon div.author{
        margin-top: 10px;
        font-size: 12pt;
        font-weight: lighter;
        font-style: italic;
      }

  section.bilingue{
    padding: 70px 0px;
  }

    section.bilingue h1, section.bilingue h2{
      color: #65B8BB;
      margin: 0px;

    }

    section.bilingue div.layout{
      margin-top: 50px;
    }

    section.bilingue div.pic{
      width: 500px;
      height: 300px;
      border-radius: 20px;
      background-color: rgba(0,0,0,0.1);
      margin-right: 10px;

      background-image: url(../IMAGES/family.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    section.bilingue div.text{
      line-height: 30px;
      font-size: 14pt;
      width: calc(100% - 540px);
      padding: 15px 0px;
      font-weight: lighter;
      color: #5B5B5F;
    }

h1.title{
  text-align: center;
  font-size: 25pt;
}


h2.sub-title{
  text-align: center;
  font-size: 18pt;
  font-weight: lighter;
}


footer{
  text-align: center;
  padding: 40px;
  background-color: #D50013;
  position: relative;
  margin-top: 80px;
  color: #fff;
}

  footer:before{
    content: url(../IMAGES/icons/logo-solo-border.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% - 30px);
  }

  footer>div.layout.three{
    align-items: center;
  }

  footer div.social{
    display: flex;
    justify-content: space-around;
    width: 110px;
    margin-bottom: 5px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

  }

    footer div.social img{
      width: 25px;
    }

footer .copyright{
  font-size: 11pt;
}

footer .footer-message{
  height: 14px;
  margin-bottom: -2px;
  margin-right: 3px;
}

footer div.developed-by{
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.6);
}

  footer img.tratt-logo{
    height: 12px;
  }

@media screen and (max-width: 700px) {
  footer{
    padding: 0px;
    padding-top: 40px;
  }

    footer div.layout{

      flex-wrap: wrap;
    }

      footer div.container{
        width: 100%!important;
      }

      footer div.layout>div{
        width: 100%!important;

      }

        footer div.layout>div:not(:last-child){
          margin-bottom: 20px;
        }

      footer div.layout>div:nth-child(1){
        order: 1;
        margin-bottom: 30px;
      }

      footer div.layout>div:nth-child(2){
        order: 0;

      }

      footer div.layout>div:last-child{
        background-color: #B5000B;
        order: 2;
        padding: 20px;
        padding-top: 30px;
      }

      footer div.developed-by{
        background-color: #B5000B;
        padding-bottom: 40px;
        margin-top: 0px;
        padding-top: 20px;
      }

}
